<div class="align-items-center d-lg-flex vh-100 mt-5 mt-lg-0">
  <div class="container">

    <div class="jumbotron sa-navbar rounded shadow-lg">

      <h2 class="text-center">{{ 'SKILLS.TITLE' | translate }}</h2>

      <hr class="bg-white">

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYA' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          Java • JavaScript • TypeScript • C • C++
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYB' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          {{ 'SKILLS.SKILLA' | translate }} • {{ 'SKILLS.SKILLB' | translate }}
        </div>
      </div>

      <hr class="bg-white">

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYC' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          SQL
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYD' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          RDBMS: MySQL
        </div>
      </div>

      <hr class="bg-white">

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYE' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          Spring • Angular • ORM: Hibernate/JPA • Bootstrap
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYF' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          HTML5 • CSS3 • Responsive Web Design • REST API • Maven • Git • LaTeX
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYG' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          UML
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYH' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          OpenCV • OpenGL
        </div>
      </div>

      <hr class="bg-white">

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYI' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          Windows • Linux
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 text-secondary">
          {{ 'SKILLS.CATEGORYJ' | translate }}
        </div>
        <div class="col-sm-9 align-self-end">
          Eclipse • Visual Studio Code • Postman • MySQL Workbench • Visio • MS Office
        </div>
      </div>

      <hr class="bg-white">

    </div>

  </div>
</div>
